body {
  font-family: Arial, sans-serif;
}

h1 {
  color: black;
  display: block;
  font-size: 30px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  margin: 0 20px 10px;
}

ul {
  margin: 0 20px 10px;
  padding: 0;
}

li {
  color: black;
  display: block;
  font-size: 16x;
  font-weight: 100;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid grey;
  padding: 20 px;
  margin: 30px auto;
  border-radius: 10px;
  max-width: 600px;
  height: 400px;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.weather-temperature img {
  height: 100px;
  width: 100px;
  margin: 0 20px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  margin: 0 20px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-search-form {
  margin: 20px;
}

.description {
  text-transform: capitalize;
}

.weather-forecast {
  margin-top: 20 px;
  text-align: center;
  color: black;
  padding: 20px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
